/* ------------------------------------------------------------------
 * 스타일
 * ------------------------------------------------------------------ */

/*
#CBDD85
#D2E4FF
#F8D6DE
*/

html {
    font-size: 18px;
}

/**** 이용현황 ****/
.st-key-panel_dark {
    background-color: #CBDD85 !important;
    color: #3A4122 !important;
    padding: 1.6rem;
    border-radius: 12px;
}

/* .st-key-panel_dark button {
    background-color: #3A4122 !important;
    color: #fff;
    border: none;
} */

div[data-testid="stLayoutWrapper"]:has(> div.st-key-panel_dark) {
    height: 100% !important;
}

div[data-testid="stVerticalBlock"][class*="st-key-info_box_"] {
    background-color: #F1F3F5 !important;
    color: #1B1B1B !important;
}

div[data-testid="stVerticalBlock"][class*="st-key-info_box_"] p,
div[data-testid="stVerticalBlock"][class*="st-key-info_box_"] span {
    color: #1B1B1B !important;
}

/**** 예약하기 ****/


/****  FAQ  ****/



/**** 관련뉴스 ****/